@page
@using FoodManager.Application.Resources.Localizations
@model AccessDeniedModel
@{
    ViewData["Title"] = @Lang.AccessDenied;
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@Lang.NoAccessMessage</p>
</header>
