@using FoodManager.Application.Resources.Localizations;

@{
    ViewData["Title"] = @Lang.HomePage;
}

<div class="text-center">
    <h1 class="display-4">@Lang.Welcome</h1>
    <p class="lead">@Lang.WelcomeDescription</p>
</div>